.viewer > section {
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.viewer__title {
  margin: 40px 0 30px 0;
  font-size: 22px;
  font-weight: bold;
}

/* .viewer__emotion {
  border: 1px solid black;
} */
.viewer__emotion-img {
  width: 250px;
  height: 250px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.viewer__emotion-img > div {
  font-size: 25px;
  color: var(--white-color);
}
.viewer__emotion-img1 {
  background-color: var(--emotion1);
}

.viewer__emotion-img2 {
  background-color: var(--emotion2);
}
.viewer__emotion-img3 {
  background-color: var(--emotion3);
}
.viewer__emotion-img4 {
  background-color: var(--emotion4);
}
.viewer__emotion-img5 {
  background-color: var(--emotion5);
}

.viewer__content > div {
  width: 100%;
  border-radius: 5px;
  background-color: var(--grey-color3);

  word-break: keep-all;
  overflow-wrap: break-word;
}

.viewer__content-text {
  margin: 0;
  font-size: 18px;
  padding: 20px;
  text-align: left;
  line-height: 2.5;
}
