.header {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid var(--border-color);
}
.header > div {
  display: flex;
}

.header .header-title {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

.header .header-left {
  width: 25%;
  justify-content: flex-start;
}

.header .header-right {
  width: 25%;
  justify-content: flex-end;
}
